.navbar {
  
    background-color: #060b26;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .notification-menu {
    background-color: #d8dbf0; 
    width: 250px;
    height: 100vh;
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    right: -100%;
    transition: 1250ms;
    overflow: auto;
  }
  
  .notification-menu.active {
    right: 0;
    transition: 550ms;
  }
  
  .notification-text {
    justify-content: flex-start;
    align-items: baseline;
    padding: 8px 0px 8px 0px;
    list-style: none;
  }
  
  .notification-text a {
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: baseline;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .notification-menu-items {
    width: 100%;
     
  }
  

  
  span {
    margin-left: 16px;
  }
  .notificationheading {
    color: black;
    font-size: 27px;
      text-align: center;
      padding-top:20px;
      
  }
  .notificationsubheading {
      color:blue;
      font-size: 15px;
      text-align:right;
      padding-bottom: 20px;
  }
  .notificationCard {
    background-color:'#aeb9f7';
  }